[defaults]
inventory = aws_ec2.yaml
host_key_checking = False
# Ensure Ansible uses the same Python that passed your boto3 test
interpreter_python = auto_silent

[inventory]
enable_plugins = amazon.aws.aws_ec2